* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App,
.wrapper {
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.top-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  height: 20%;
  border: 1px solid black;
}

.bottom-block {
  min-width: 500px;
  height: 60%;
  border: 1px solid black;
}

.card {
  display: flex;
}

.name {
  width: 180px;
  padding: 2px;
}

.info {
  width: 100px;
  padding: 2px;
}
